.capa1{
	margin-left: 25%;
	padding: 12px;
	height: 1000px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
	height: 100%;
	position: fixed;
	background-color: lightblue;
	overflow: auto;
}
li a{
	display: block;
	background-color: lightblue;
	color: black;
	padding: 8px 10px;
	text-decoration: none;
}
li a:hover{
	display: block;
	background-color: lightskyblue;
	color: white;
	padding: 8px 10px;
	text-decoration: none;
}
li a.activo{
	background-color: mediumblue;
	color: lightgray;
}
li a:hover:not(.activo){
	background-color: lightskyblue;
	color: white;
}
h1{
	font-family: "BioRhyme Expanded", serif;
}
h2{
	font-family: "Farsan", cursive;
}
@font-face{
	font-family:"parrafos";
	src: url("League_Spartan/LeagueSpartan-VariableFont_wght.ttf") format("truetype") ;
}

p{
	font-family: "parrafos";
}