body{
	background-color: lightblue;
}

h1,h2{
	text-align: center;
}

.button{
	justify-content: center;
}

.galeria{
	display: flex;
    justify-content: center;
	gap: 2rem;
	flex-wrap: nowrap;
}

.imagen{
	visibility: visible;
	text-align: center;
	border: royalblue ;
	border-style: solid;
	border-radius: 10px;
}

.imagen img {
            width: 200px;
            height: 230px;
        }
